<div class="row mb-5">
  <div class="mx-auto">
    <h3>体験談の投稿ありがとうございます！</h3>
    <h3>ご自身の投稿一覧はマイページからご確認いただけます。</h3>
    <h3>また、投稿内容はいつでも編集・削除が可能です。</h3>

    <strong><%= link_to "投稿を確認する", post_path(post.id) %></strong><br>
    <strong><% link_to "マイページへ", mypage_path %></strong>
  </div>
</div>
