<div class="row mb-5">
  <div class="col-md-4">
    <% render 'public/searches/search' %>
  </div>

  <div class="col-md-8">
    <% if @posts == [] %>

      <h3>お探しのキーワードでは投稿が見つかりませんでした。</h3>

    <% else %>

      <h3>"<%= @keyword %>"による検索結果</h3>
      <% @posts.each do |post| %>

        <p><%= post.industry_id %></p>
        <p><%= post.answer_what %></p>
        <%= link_to "この体験談を見る >", post_path(post.id) %>

      <% end %>

    <% end %>
  </div>

</div>
