<div class="row mb-5">
  <div class="mx-auto">
    <h3>体験談一覧</h3>
  </div>
</div>

<div class="row">

    <% @posts.each do |post| %>
      <div class="col-md-6">
        <div class="post bg-light">
          <%= link_to admin_post_path(post.id) do %>
          <div>
            <h4>業種</h4>
            <p><%= post.industry.industry %></p>
          </div>
          <div>
            <h4>仕事内容</h4>
            <p><%= post.answer_what %></p>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>

</div>