<div class="row mb-5">
  <div class="col-md-4">
    <%# render 検索窓  %>
  </div>

  <div class="col-md-8">
    <h3>体験談一覧</h3>
    <% @posts.each do |post| %>

      <p><%= post.industry_id %></p>
      <p><%= post.answer_what %></p>
      <%= link_to "この体験談を見る >", post_path(post.id) %>

    <% end %>
  </div>

</div>
