<p>About</p>
<h1>ハタリバとは？</h1>
<br>
<p>働く人たちの語り場と称して、職業体験を投稿・閲覧できる職業情報サイトです。</p>
<p>体験談は、こちらでご用意した質問内容に答えていただいた形式のものとなっております。</p>
<br>
<p>ユーザー登録をしていない方も、体験談の閲覧は可能です。</p>
<p>ユーザー登録をすると、体験談の投稿やブックマーク、投稿に対するコメントが可能となります。</p>
<p>体験談を提供していただける方を心よりお待ちしております。</p>
