@import '~bootstrap/scss/bootstrap';

.logo {
  width: 300px;
  height: 80px;
}

.pagination {
  justify-content: center;
}

.badge {
  background-color: #ff4500;
}

//background-imageを本番環境で使用したい場合
//background-image:image-url("main-image.jpg");