<div class="row mb-5">
  <div class="mx-auto">
    <h3>ユーザー一覧</h3>
  </div>
</div>

<div class="row mb-5">
  <div class="mx-auto">
    <div class="col-md-12">

      <table class='table'>
        <thead>
          <tr>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>年齢</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></p>
            <td><%= user.user_name %></p>
            <td><%= user.age_id %></p>
          </tr>
        <% end %>
        </tbody>

    </div>
  </div>
</div>
