<div class="row">
  <div class="mx-auto">
    <h3>退会しますか？</h3>
    <br>
    <h4>退会した場合、</h4>
    <h4>登録したユーザー情報、ご自身が投稿した体験談、ブックマーク等全て削除されます。</h4>

    <div>
      <span><%= link_to "退会しない", mypage_path, class: "btn btn-dark" %></span>
      <span><%= link_to "退会する", withdraw_user_path(current_user.id), method: :patch, class: "btn btn-danger", "data-confirm" => "退会します" %></span>
    </div>
  </div>
</div>
