<div class="row">
  <div class="mx-auto">
    <h3>退会しますか？</h3>
    <br>
    <h4>退会した場合、マイページが削除され、</h4>
    <h4>ご自身の投稿一覧やブックマーク一覧は閲覧できなくなります。</h4>
    <h4>※ただし、投稿いただいた体験談やコメントは”退会済みユーザー”表記で残ります。</h4>

    <div>
      <span><%= link_to "退会しない", mypage_path, class: "btn btn-dark" %></span>
      <span><%= link_to "退会する", withdraw_user_path(current_user.id), method: :patch, class: "btn btn-danger", "data-confirm" => "退会します" %></span>
    </div>
  </div>
</div>
